*.pyc
*.fits
*.fit
*.hdf5
*.swp
.DS_Store
*.tar
*.gz
*.bz2
**.png
legacy/
*.ps
*.txt
*.reg
*.csv
MOSAICpipe/bpz_felipe/
BCSpipe/
SOARpipe/
MOSAICpipe/LIB/
CasJobs.config

results/*
!results/*.py

sims/plots_gal/
sims/plots_gal_small/
sims/plots_PS/
sims/plots/
analysis_op/cluster_search_redo/
analysis_op/cluster_search/
analysis_op/results/*

# iraf stuff
uparm
login.cl
spec1d_IRAF/
pyraf/

# ignore plots/images
*.pdf
*.png

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

catalogs/merge_cats_ipy\.py

MOSAICpipe/bpz-1\.99\.3/AB/

MOSAICpipe/bpz-1\.99\.3/SED/

MOSAICpipe/bpz-1\.99\.3/FILTER/
