*.pyc
*.fits
*.fit
*.hdf5
*.swp
.DS_Store
*.tar
*.gz
*.bz2
**.png
legacy/
*.ps
*.txt
*.reg
*.csv
MOSAICpipe/bpz_felipe/
BCSpipe/
SOARpipe/
MOSAICpipe/LIB/
CasJobs.config
results/
!results/*.py

cluster_search/
# iraf stuff
uparm
login.cl
spec1d_IRAF/
pyraf/

sims/plots_gal/

sims/plots_PS/

sims/plots/
