*.pyc
*.fits
*.fit
*.hdf5
*.swp
.DS_Store
*.tar
*.gz
*.bz2
**.png
legacy/
*.ps
*.txt
*.reg
*.csv

### Directories ###
MOSAICpipe/bpz_felipe/
BCSpipe/
SOARpipe/
MOSAICpipe/LIB/
sims/plots_gal/
sims/plots_gal_small/
sims/plots_PS/
sims/plots/
MOSAICpipe/bpz-1\.99\.3/AB/
MOSAICpipe/bpz-1\.99\.3/SED/
MOSAICpipe/bpz-1\.99\.3/FILTER/
analysis_ir/liuetal/
analysis_ir/hennig/
analysis_op/cluster_search_redo/
analysis_op/cluster_search/
analysis_op/results/*
!analysis_op/results/*.py

# iraf stuff
uparm
login.cl
spec1d_IRAF/
pyraf/

# ignore plots/images
*.pdf
*.png

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Specific Files ###
catalogs/merge_cats_ipy\.py
CasJobs.config
